{
    "presets": [ "es2015", "stage-0" ],
    "plugins": [
      ["transform-regenerator", {
        "asyncGenerators": false,
        "generators": false,
        "async": false
      }]
    ]
  
  }
  